NODE_ENV=development
PORT=3000
POSTGRES_DB=your_database_name
POSTGRES_USER=your_user
POSTGRES_PASSWORD=changeme

DATABASE_NAME=your_database_name
DATABASE_USER=your_user
DATABASE_PASSWORD=changeme
DATABASE_HOST=hostname
DATABASE_PORT=your_port_db

SMTP_HOST=your_host_mail
SMTP_PORT=your_mail_port
